<html>
	<head>
		<title>Contributor| Thanks!</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
		<div class="row">
			<h1>&nbsp &nbsp</h1>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			  <div class="well">
			    <h3>Thanks!</h3>
          <p>Your contribution has been recorded. Our team will decide later whether your content will be published.</p>
					<div style="width : 100%;text-align : right;">
						<a href='/game/'><input type="button" class="btn" style="background-color : #167F39;color:#ffffff;" name="name" value="Got It."/></a>
					</div>
        </div>
			</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</body>
</html>
